[submodule ".registry"]
	path = .registry
	url = https://github.com/md-anderson-bioinformatics/md-anderson-bioinformatics.r-universe.dev
	branch = HEAD
[submodule "NGCHMDemoData"]
	path = NGCHMDemoData
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMDemoData
[submodule "NGCHMSupportFiles"]
	path = NGCHMSupportFiles
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMSupportFiles
