[submodule ".registry"]
	path = .registry
	url = https://github.com/md-anderson-bioinformatics/md-anderson-bioinformatics.r-universe.dev
	branch = HEAD
[submodule "NGCHM"]
	path = NGCHM
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHM-R
[submodule "NGCHMDemoData"]
	path = NGCHMDemoData
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMDemoData
[submodule "NGCHMSupportFiles"]
	path = NGCHMSupportFiles
	url = https://github.com/MD-Anderson-Bioinformatics/NGCHMSupportFiles
[submodule "RPPASPACE"]
	path = RPPASPACE
	url = https://github.com/MD-Anderson-Bioinformatics/rppaspace
	subdir = RPPASPACE
[submodule "tsvio"]
	path = tsvio
	url = https://github.com/MD-Anderson-Bioinformatics/tsvio
